<section class="scenario <%= h(scenario.status) %>" id="<%= scenario.id %>">
  <div class="scenario-title">
    <span class="permalink">
      <a href="#<%= scenario.id %>">&para;</a>
    </span>
    <span data-toggle="collapse" data-target="#<%= scenario.id %>_body">
      Scenario: <%= h(scenario.name) %>
      (Feature: <%= h(scenario.feature_info) %>) at <%= h(scenario.run_time) %> sec
    </span>
  </div>

  <div class="panel-collapse collapse" id="<%= scenario.id %>_body">
    <div class="panel-body">
      <ul class="tags">
        <% scenario.tags.each do |tag| %>
          <li>@<%= h(tag) %></li>
        <% end %>
      </ul>

      <div class="steps">
        <% scenario.steps.each do |step| %>
          <%= TurnipFormatter::Printer::Step.print_out(step) %>
        <% end %>
      </div>
    </div>
  </div>
</section>
