<section class="scenario <%= h(scenario.status) %>">
  <header>
    <span class="permalink">
      <a href="#<%= scenario.id %>">&para;</a>
    </span>
    <span class="scenario_name" id="<%= scenario.id %>">
      Scenario: <%= h(scenario.name) %>
    </span>
    <span class="feature_name">
      (Feature: <%= h(scenario.feature_info) %>) at <%= h(scenario.run_time) %> sec
    </span>
  </header>

  <ul class="tags">
    <% scenario.tags.each do |tag| %>
    <li>@<%= h(tag) %></li>
    <% end %>
  </ul>

  <ul class="steps">
    <% scenario.steps.each do |step| %>
      <%= TurnipFormatter::Printer::Step.print_out(step) %>
    <% end %>
  </ul>
</section>
