<table>
  <thead>
    <tr>
      <th>Наименование фичи</th>
      <th>Наименование сценария</th>
      <th>Пройденных</th>
      <th>Упавших</th>
      <th>В ожидании</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |info| %>
      <tr>
        <td><%= info.name %></td>
        <td><%= info.scenario_count %></td>
        <td><%= info.passed_count %></td>
        <td><%= info.failed_count %></td>
        <td><%= info.pending_count %></td>
        <td class="<%= info.status %>"><%= info.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
