%section{ class: "scenario #{scenario.status}", id: scenario.id }
  %div.scenario-title
    %span.permalink
      %a{ href: "##{scenario.id}"} &para;
    %span{ data: { toggle: "collapse", target: "##{scenario.id}_body" } }
      &= "Scenario: #{scenario.name} Feature #{scenario.feature_info} at #{scenario.run_time} sec"
  %div{ class: "panel-collapse collapse", id: "#{scenario.id}_body" }
    %div.panel-body
      %ul.tags
        - scenario.tags.each do |tag|
          %li @#{tag}
      %div.steps
        - scenario.steps.each do |step|
          = TurnipFormatter::Printer::Step.print_out(step)
